.home-wrapper
  .home.container
    %section.home-top

      %h1.home-header
        %span Pingsy
      %p.home-desc Coming soon to the App Store.

    %section.home-images
      .home-image
        %img{ src: "/assets/media/home-1.png", alt: "Send a Pingsy!" }
      .home-image
        %img{ src: "/assets/media/home-2.png", alt: "Respond to a Pingsy!" }
    .clear

.footer-wrapper
  %footer.footer
    %a.footer-logo{ href: "/", title: "Home", role: "presentation" }
      %img{ src: "/assets/media/footer-logo.png"}
    %br
    %br
    %ul.footer-menu{ role: "menu" }
      %li.footer-menu
        %a.footer-link{ href: "https://twitter.com/getpingsy", title: "Pingsy on Twitter" }
          %span.icon-twitter
          Pingsy on Twitter
      %li.footer-menu
        %a.footer-link{ href: "mailto:support@getpingsy.com", title: "Pingsy Support" }
          %span.icon-plus
          Pingsy Support
      %li.footer-menu
        {{#link-to 'privacy' class="footer-link"}}
        %span.icon-chevron-right
          Privacy Policy
        {{/link-to}}
