.home-wrapper
  .home.container
    %section.home-top

      %h1.home-header
        %span Pingsy
      %p.home-desc Ruh roh. Not found.

      %br
      %br

.footer-wrapper
  %footer.footer
    %a.footer-logo{ href: "/", title: "Home", role: "presentation" }
      %img{ src: "/assets/media/footer-logo.png"}
    %br
    %br
    %ul.footer-menu{ role: "menu" }
      %li.footer-menu
        %a.footer-link{ href: "https://twitter.com/getpingsy", title: "Pingsy on Twitter" }
          %span.icon-twitter
          Pingsy on Twitter

