.home-wrapper
  .home.container
    %section.home-top

      %h1.home-header
        %span Pingsy
      %p.home-desc Privacy Policy

    %section.home-content
      %p
        Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.
      %ul
        %li
          Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
        %li
          We will collect and use personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.
        %li
          We will only retain personal information as long as necessary for the fulfillment of those purposes.
        %li
          We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.
        %li
          Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.
        %li
          We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
        %li
          We will make readily available to customers information about our policies and practices relating to the management of personal information.
      %p
        We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.

    .clear

.footer-wrapper
  %footer.footer
    %a.footer-logo{ href: "/", title: "Home", role: "presentation" }
      %img{ src: "/assets/media/footer-logo.png"}
    %br
    %br
    %ul.footer-menu{ role: "menu" }
      %li.footer-menu
        %a.footer-link{ href: "https://twitter.com/getpingsy", title: "Pingsy on Twitter" }
          %span.icon-twitter
          Pingsy on Twitter
      %li.footer-menu
        %a.footer-link{ href: "mailto:support@getpingsy.com", title: "Pingsy Support" }
          %span.icon-plus
          Pingsy Support
      %li.footer-menu
        {{#link-to 'privacy' class="footer-link"}}
        %span.icon-chevron-right
          Privacy Policy
        {{/link-to}}
